@media(max-width: 780px) {
    .footer-flex {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
}


@media(max-width: 780px) {
    .fotter-p {
        width: 17rem;
    }
}

